<section class="mx-auto px-4 md:py-8 w-full max-w-screen-2xl">
  <h1 class="text-[#663300] text-2xl font-bold mb-4 lg:mb-10">Nuestros productos</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6">
    <div class="overflow-hidden rounded-lg shadow-lg">
      <img 
        src="https://images.pexels.com/photos/7538069/pexels-photo-7538069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        height="600px"
        width="600px" 
        alt="Producto 1" 
        class="w-full h-96 object-cover transition-all duration-800 hover:scale-150 hover:rotate-5"
      >
    </div>
    
    <div class="overflow-hidden rounded-lg shadow-lg">
      <img 
        src="https://images.pexels.com/photos/10303625/pexels-photo-10303625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        height="600px"
        width="600px"
        alt="Producto 2" 
        class="w-full h-96 object-cover transition-all duration-800 hover:scale-150 hover:rotate-5"
      >
    </div>
    
    <div class="overflow-hidden rounded-lg shadow-lg">
      <img 
        src="https://images.pexels.com/photos/6261691/pexels-photo-6261691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        height="600px"
        width="600px" 
        alt="Producto 3" 
        class="w-full h-96 object-cover transition-all duration-800 hover:scale-150 hover:rotate-5"
      >
    </div>
    
    <div class="overflow-hidden rounded-lg shadow-lg">
      <img 
        src="https://images.pexels.com/photos/6261618/pexels-photo-6261618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        height="600px"
        width="600px" 
        alt="Producto 4" 
        class="w-full h-96 object-cover transition-all duration-800 hover:scale-150 hover:rotate-5"
      >
    </div>
    <div class="overflow-hidden rounded-lg shadow-lg md:col-span-2">
      <img 
        src="https://images.pexels.com/photos/65882/chocolate-dark-coffee-confiserie-65882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        height="600px"
        width="1200px"
        alt="Producto 5" 
        class="w-full h-96 object-cover transition-all duration-800 hover:scale-150 hover:rotate-5"
      >
    </div>
  </div>
</section>