---
import '../styles/global.css'
import Navbar from '../components/layout/Navbar.astro'
import Footer from '../components/layout/Footer.astro'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Del Carpio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-cream font-sans text-body flex flex-col min-h-screen">
    <Navbar />
    <main class="flex-1 pt-5">
      <slot/>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  details[open] summary ~ * {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
</style>

<script is:inline>
  window.addEventListener('scroll', function () {
    const nav = document.getElementById('mainNav');
    if (window.scrollY > 400) {
      nav.classList.remove('bg-opacity-70', 'absolute');
      nav.classList.add('fixed', 'bg-opacity-100');
      nav.style.backdropFilter = 'none';
    } else {
      nav.classList.add('bg-opacity-70', 'absolute');
      nav.classList.remove('fixed', 'bg-opacity-100');
      nav.style.backdropFilter = 'blur(12px) saturate(150%)';
    }
  });
</script>
