---
---
<button class="bg-transparent text-white hover:bg-[#efc86b] border-2 border-[#fefdf7] px-8 py-3 rounded-full font-bold text-lg transition-all duration-300 animate-bounce">
    <slot/>
</button>